.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.price-list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.price-item {
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}
.price-item__span-price {
  width: 70px;
}
.price-title {
  padding-top: 10px;
}
@media (min-width: 768px) and (max-width: 1365px) {
  .price-item {
    font-size: 22px;
    padding-left: 65px;
    padding-right: 60px;
  }
  .price-item__span-price {
    width: 90px;
  }
}
@media (min-width: 1366px) and (max-width: 100vw) {
  .price-item {
    font-size: 22px;
    padding-left: 65px;
    padding-right: 60px;
  }
  .price-item__span-price {
    width: 90px;
  }
}
