.accordeon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  transition: 0.6s;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.accordeon-open {
  .accordeon-img {
    height: 450px;
    @include shadow-card;
  }
  .accordeon-slider {
    height: 465px;
    .awssld__bullets {
      visibility: visible;
    }
  }
  margin-bottom: 80px;
  height: 500px;
  .accordeon-icon {
    transform: rotate(180deg);
  }
}
.accordeon-close {
  .accordeon-slider {
    height: 0;
  }
  .accordeon-img {
    height: 0;
  }
  .awssld__bullets {
    visibility: hidden;
  }
  .accordeon-icon {
    transform: rotate(0deg);
  }
}
.accordeon-slider {
  --content-background-color: $white-color;
}
.accordeon-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  width: 100%;
  padding: 25px 20px 20px 20px;
  @include shadow-card;
  border-radius: 0.5rem;
  // border: 1px solid $secondary-color;

  // -webkit-box-shadow: 0px 0px 4px 5px rgba(108, 212, 255, 0.1);
  // -moz-box-shadow: 0px 0px 4px 5px rgba(108, 212, 255, 0.1);
  // box-shadow: 0px 0px 4px 5px rgba(108, 212, 255, 0.1);
}
.accordeon-title {
}
.accordeon-icon {
  transition: 0.3s;
  width: 25px;
  height: 25px;
}

.accordeon-list {
  width: 100%;
  padding-top: 10px;
  height: 100%;
  max-height: 0;
  transition: 0.6s;
}
.accordeon-list-open {
  max-height: max-content;
}
.accordeon-list-close {
  max-height: 0;
}

.accordeon-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
.accordeon-img {
  width: 330px;
  transition: 0.3s;
  border-radius: 0.7rem;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1365px) {
  .accordeon-open {
    .accordeon-img {
      height: 550px;
    }
    .accordeon-slider {
      height: 565px;
      .awssld__bullets {
        visibility: visible;
      }
    }
    margin-bottom: 90px;
    height: 590px;
  }
  .accordeon-list {
    padding-top: 20px;
  }
}
@media (min-width: 1366px) and (max-width: 100vw) {
  .accordeon {
    width: 97%;
  }
  .accordeon-open {
    .accordeon-img {
      height: 550px;
    }
    .accordeon-slider {
      height: 630px;
      .awssld__bullets {
        visibility: visible;
      }
    }
    margin-bottom: 90px;
    height: 630px;
  }
  .accordeon-list {
    padding-top: 20px;
  }
}
