$white-color: #fff2f2;
$black-color: #3f3b49;
$secondary-color: #a1bfba;
body {
  color: $black-color;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}
ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
li {
  margin: 0;
}
a {
  text-decoration: none;
  color: $black-color;
}
button {
  margin: 0;
  padding: 0;
  border: 2px solid $secondary-color;
  border-radius: 0.4rem;
}
.awssld__bullets {
  --organic-arrow-color: #a1bfba !important;
  --control-bullet-color: #a1bfba !important;
  --control-bullet-active-color: #a1bfba !important;
}
@mixin shadow-card {
  -webkit-box-shadow: 0px 10px 10px -3px rgba(92, 85, 82, 0.5);
  -moz-box-shadow: 0px 10px 10px -3px rgba(92, 85, 82, 0.5);
  box-shadow: 0px 10px 10px -3px rgba(92, 85, 82, 0.5);
}